# Data Basics
a collection of facts or values ​​that have not been processed or organized so that they do not have a clear meaning. Data can be numbers, letters, images, sounds, or anything else that can be captured and stored.

## Categorical
1. Nominal
   Ex: Gender on Kpop Idol csv
2. Ordinal
   Ex: NObeyesdad on Obesity Data Set csv

## Numeric
1. Diskrit
   ex: FAF (How often do you have physical activity) and TUE (How much time do you use technological devices such as cell phone, video game, television, computer adn others) on Obesity Data Set
2. Continue
   Ex: Height and Weight on Kpop Idol.csv
3. Boolean
   Ex: SCC and Smoke (the one with answer yes or no) on Obesity Data Set csv

In [1]:
import numpy as np
import pandas as pd

In [2]:
#load data university
df = pd.read_csv('higher_ed_employee_Salaries.csv')

In [3]:
df.head(5)

,Name,School,Job Description,Department,Earnings,Year
0,Don Potter,University of Akron,Assistant Lecturer,Social Work,2472.00,2019
1,Emily Potter,The Ohio State University,Administrative Assistant 3,Arts and Sciences | Chemistry and Biochemistry...,48538.02,2022
2,Carol Jean Potter,The Ohio State University,Associate Professor-Clinical,Pediatrics,22722.80,2013
3,Kim Potter,The Ohio State University,"Manager 4, Compliance",Legal Affairs | Compliance,170143.44,2022
4,Graham Potter,Miami University,Building and Grounds Assistant,"Assoc VP Housing,Dining,Rec,Bus Svc",3075.20,2012

In [4]:
#load data emotion detection
df = pd.read_csv('tweet_emotions.csv')

In [5]:
df.head(5)

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [6]:
#load data kpop idol
df = pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv')

In [7]:
df.head(5)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [8]:
import pandas as pd
import numpy as np

In [9]:
#load data kpop idol
df = pd.read_csv('kpopidolsv3.csv')

In [10]:
df.head(5)

,Stage Name,Full Name,Korean Name,K Stage Name,Date of Birth,Group,Debut,Company,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender
0,2Soul,Kim Younghoon,김영훈,이솔,10/09/1997,7 O'clock,26/08/2014,Jungle,South Korea,NaN,172.0,55.0,NaN,NaN,NaN,M
1,A.M,Seong Hyunwoo,성현우,에이엠,31/12/1996,Limitless,9/07/2019,ONO,South Korea,NaN,181.0,62.0,NaN,NaN,NaN,M
2,Ace,Jang Wooyoung,장우영,에이스,28/08/1992,VAV,31/10/2015,A team,South Korea,NaN,177.0,63.0,NaN,NaN,NaN,M
3,Aeji,Kwon Aeji,권애지,애지,25/10/1999,Hash Tag,11/10/2017,LUK,South Korea,NaN,163.0,NaN,Daegu,NaN,NaN,F
4,AhIn,Lee Ahin,이아인,아인,27/09/1999,MOMOLAND,9/11/2016,Double Kick,South Korea,NaN,160.0,44.0,Wonju,NaN,NaN,F

## Quantitative Data
Mean, Median, Modus, Min and Max

In [16]:
#see mean from Height column

df['Height'].mean()

170.64354066985646

In [17]:
#see median from Weight column 

df['Weight'].median()

57.0

In [18]:
#see mode from Weight column 

df['Weight'].mode()[1]

63.0

In [19]:
#See min from Height column 

df['Height'].min()

150.0

In [20]:
#See max from Height column 

df['Height'].max()

190.0